<div class="user-management-tab">
    <div class="user-stats-grid">
        @for (item of stats; track item.label) {
        <div class="stat-card">
            <div class="stat-info">
                <span class="label">{{ item.label }}</span>
                <h2 class="value">{{ item.value }}</h2>
            </div>
            <div class="stat-icon" [ngClass]="item.class">
                <i [class]="item.icon"></i>
            </div>
        </div>
        }
    </div>

    <div class="user-management-section">
        <h3 class="title">My Tasks</h3>

        <div class="task-list">
            @for (task of taskList; track task.name) {
            <div class="task-item">
                <div class="task-header">
                    <span class="task-name">
                        <i [class]="task.icon + ' ' + task.iconClass"></i> {{ task.name }}
                    </span>
                    <span [class]="task.statusClass">{{ task.status }}</span>
                </div>
                <div class="progress-container">
                    <div class="progress-info">
                        <span>Progress</span>
                        <!-- <span>{{ task.currentHours }} / {{ task.totalHours }} hrs</span> -->
                    </div>
                    <div class="progress-bar-bg">
                        <div class="progress-fill" [style.width.%]="task.progress"></div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>